{% extends "admin/base.html" %}{%load static%}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin')
}}{% endblock %}
{% block extrastyle %}
<!-- <script src="{% static 'js/admin_my_js.js' %}" defer></script>
<link rel="stylesheet" type="text/css" href="{% static  'css/admin_my_style.css' %}"> -->
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administrations') }}</a></h1>
{% endblock %}

{% block nav-global %}
{% if has_permission %}

{% endif %}

{% endblock %}